.App {
 padding: 10px;
 min-height: 100vh;
}
.header-game{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;    
    margin: 0;
}
.header-game p{  
    padding: 5px 20px;    
    margin: 0;
}